<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <%- include('../share/common') %>
        <script src="js/fullpage.min.js"></script>
        <style>
            .section{
                position: relative;
                background-image: url("images/background.png");
            }
            .img-wrapper{
                position: relative;
                height: 100vh;
            }
            .section .cover{
                position: absolute;
                z-index: auto;
                width: 100%;
                vertical-align: center;
            }
            .arrow{
                position: absolute;
                margin: auto;
                bottom: 20px;
                width: 20px;
                left: 0;
                right: 0;
                animation: move 1s infinite alternate;
            }
            .entry{
                position: absolute;
                width: 100%;
                z-index: 1;
                bottom: 0;
                animation: scaling 0.6s infinite alternate;
            }
            .entry img{
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div id="fullpage">
            <div class="section">
                <div class="img-wrapper">
                    <img class="cover" src="images/01.png" alt="">
                    <img class="arrow" src="images/down_arrow.png" alt="">
                </div>
            </div>
            <div class="section">
                <div class="img-wrapper">
                    <img class="cover" src="images/02.png" alt="">
                    <img class="arrow" src="images/down_arrow.png" alt="">
                </div>
            </div>
            <div class="section">
                <div class="img-wrapper">
                    <img class="cover" src="images/03.png" alt="">
                    <a href="/share?creator=<%= creator %>" class="entry">
                        <img class="entry" src="images/entry.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <%- include('../share/music') %>
        <script>
          new fullpage('#fullpage', {
            continuousVertical: false,
          });

        </script>
    </body>
</html>
