<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <script src="js/fullpage.min.js"></script>

        <style>
            .section{
                position: relative;
                background-image: url("images/background.png");
            }
            .img-wrapper{
                position: relative;
                height: 100vh;
            }
            .section .cover{
                position: absolute;
                z-index: auto;
                width: 100%;
                vertical-align: center;
            }
            .cover.hidden{
                display: none;
            }
            .arrow{
                position: absolute;
                margin: auto;
                bottom: 20px;
                width: 20px;
                left: 0;
                right: 0;
                animation: move 1s infinite alternate;
            }
            .entry{
                position: absolute;
                width: 100%;
                z-index: 1;
                bottom: 0;
                animation: scaling 0.6s infinite alternate;
            }
            .nanxiang{
                position: absolute;
                width: 60%;
                z-index: 1;
                top: 34vw;
                padding-left: 20px;
                transform: translateX(-120%);
                transition: all 0.5s linear;
                transition-delay: 1s
            }
            .nanxiang.in{
                transform: translateX(0);
            }
            .nanxiang img{
                width: 100%;
            }
            .entry img{
                width: 100%;
            }
            @keyframes move {
                0% {
                    transform: translateY(-5px);
                }
                0% {
                    transform: translateY(0);
                }
                100% {
                    transform: translateY(5px);
                }
            }
            @keyframes scaling {
                0% {
                    transform: scale(0.99);
                }
                0% {
                    transform: scale(1);
                }
                100% {
                    transform: scale(1.02);
                }
            }
        </style>
    </head>
    <body>
        <div id="fullpage">
            <div class="section">
                <div class="img-wrapper">
                    <img class="cover" src="images/page1.jpg" alt="">
                    <img class="cover hidden" src="images/page1_1.jpg" alt="">
                    <img class="arrow" src="images/down_arrow.png" alt="">
                </div>
            </div>
            <div class="section">
                <div class="img-wrapper">
                    <img class="cover hidden" src="images/page2_2.jpg" alt="">
                    <img class="cover" src="images/page2_2.jpg" alt="">
                    <div id="mantou" class="nanxiang">
                        <img src="images/mantou.png" alt="">
                    </div>
                    <a href="/share?creator=<%= creator %>" class="entry">
                        <img class="entry" src="images/entry.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <script>
          var mantou = document.getElementById('mantou')
          new fullpage('#fullpage', {
            continuousVertical: false,
            onLeave: function(origin){
              //使用 index
              if(origin.index == 0){
                mantou.classList.add('in')
              }
              if(origin.index == 1){
                mantou.classList.remove('in')
              }
            }
          });

          document.addEventListener('DOMContentLoaded', function() {
            if(window.innerHeight/window.innerWidth > 1.9){
              Array.prototype.forEach.call(document.getElementsByClassName('cover'),el => {
                el.classList.toggle('hidden')
              })
            }
          }, true);
        </script>
    </body>
</html>
